/* footer.css */
.footer {
    background: rgba(0, 0, 0, 0.89); /* Fondo oscuro semitransparente */
    padding: 1rem;
    position: absolute;
    bottom: -27vh;
    width: 100%;
    padding: 5px;
  }
  
  .footer-container {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }
  